#chat-container .callout.shown.channel-points-redemption {
	border-color: #555cc2;
}

#chat-container .callout.shown.channel-points-redemption.priority {
	font-size: 32px;
	border-width: 5px;
	color: white;
	background-color: #6441a5;
}

#chat-container .callout.shown.channel-points-redemption:not(.priority) {
	border-width: 3px;
	color: black;
	background-color: #b4a1d7;
}