 <head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu%20Mono"></link>
	<!-- Pain-in-the-ass Chrome won't let me load the styles file locally from a served control panel file, so I'm serving styles separately to be loaded dynamically. -->
	<link rel="stylesheet" href="http://localhost:7043/common/animations.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/common/callouts.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/common/common.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/common/scrollBoxes.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/common/statuses.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/chat.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/goals.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/image callout overlay dimensions.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/messages.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/music.css"></link>
	<link rel="stylesheet" href="http://localhost:7043/randomizers.css"></link>
	<script src="http://localhost:7043/common/animations.js"></script>
	<script src="http://localhost:7043/common/common.js"></script>
	<script src="http://localhost:7043/common/haltableSequences.js"></script>
	<script src="http://localhost:7043/common/scrollBoxes.js"></script>
	<script src="http://localhost:7043/common/sockets.js"></script>
	<script src="http://localhost:7043/common/statuses.js"></script>
	<script src="http://localhost:7043/chat.js"></script>
	<script src="http://localhost:7043/error.js"></script>
	<script src="http://localhost:7043/goals.js"></script>
	<script src="http://localhost:7043/meme.js"></script>
	<script src="http://localhost:7043/textToSpeech.js"></script>
	<script src="http://localhost:7043/music.js"></script>
	<script src="http://localhost:7043/randomizers.js"></script>
	<script src="http://localhost:7043/timer.js"></script>
	<script>
const VARIADASSIST_PORT = 7042;

const socketQueues = {};

const sendOrEnqueue = (socketName, message, socket) => {
	if (socket.readyState === 1) {
		socket.send(message);
	} else {
		console.log("Enqueueing message to await socket opening: ", message);
		const queue = socketQueues[socketName] || [];
		queue.push(message);
		socketQueues[socketName] = queue;
	}
};

const flushQueueOnOpen = (socketName, socket) => {
	socket.addEventListener("open", () => {
		console.log(`The socket for ${socketName} connected!`);
		const queue = socketQueues[socketName] || [];
		queue.forEach(m => {
			console.log(`Sending enqueued message to ${socketName}:`, m);
			socket.send(m);
		});
		delete socketQueues[socketName];
	});
};

window.onload = () => {
	const accessTokenStatus = document.getElementById("access-token-status");

	const allContainer = document.getElementById("all-container");
	const body = document.querySelector("body");

	const timersContainer = document.getElementById("timers-container");

	const chatContainer = document.getElementById("chat-container");
	const serverMessagesContainer = document.getElementById("server-messages-container");

	const macroBoardModeContainer = document.getElementById("macro-board-mode-container");
	const macroBoardModeNameContainer =
		document.getElementById("macro-board-mode-name-container");
	const macroBoardModeBindingsContainer =
		document.getElementById("macro-board-mode-bindings-container");

	const ttsPreviewCallout = document.getElementById("tts-preview-callout");
	const ttsPreviewCalloutMessage = ttsPreviewCallout.querySelector(".message");
	const ttsPreviewCalloutUser = ttsPreviewCallout.querySelector(".user");
	const ttsPreviewCounter = document.getElementById("tts-preview-counter");

	// Variadassist socket

	const variadassistSocket = new WebSocket(`ws://127.0.0.1:${VARIADASSIST_PORT}`);
	variadassistSocket.onerror = error => console.error("There was an error connecting to Variadassist!", error);

	sendToServer = m => variadassistSocket.send(m);  // Use closure to avoid `this` invocation errors. :|

	// relay sockets
	const relaySocket = (name, host, json = true) => {
		const socket = new WebSocket(host);
		flushQueueOnOpen(name, socket);

		socket.onmessage = ({ data }) => {
			const parsedData = json ? JSON.parse(data) : data;
			console.log(`relaying from ${name}: `, parsedData);
			sendOrEnqueue(name, JSON.stringify({ action: `from ${name}`, content: parsedData }), variadassistSocket);
		};

		socket.onerror = error => err(`The ${name} socket encountered an error: ${error.message}`);

		return {
			[`to ${name}`]: ({ content }) => {
				console.log(`relaying to ${name}: `, content);
				sendOrEnqueue(name, json ? JSON.stringify(content) : content, socket);
			},
		};
	};

	const relayToPubSubAction = relaySocket("PubSub", `wss://pubsub-edge.twitch.tv`);
	const relayToIRCAction = relaySocket("IRC", `wss://irc-ws.chat.twitch.tv:443`, false);
	const relayToEventSubAction = relaySocket("EventSub", `wss://eventsub.wss.twitch.tv/ws`);

	// actions

	const serverMessagesScrollBox = newScrollBox(serverMessagesContainer);
	const showServerMessage = (message, level) =>
		serverMessagesScrollBox.enqueue(message,
			["top-right-callout", "server-message", `server-${level.toLowerCase()}-message`]);

	let currentMacroBoardModeName;
	const showMacroBoardMode = ({ name, bindings, key }) => {
		if (name === currentMacroBoardModeName)
			return;
		currentMacroBoardModeName = name;

		macroBoardModeNameContainer.textContent = name;

		macroBoardModeBindingsContainer.innerHTML = "";
		let callouts = [];
		Object.entries(bindings).sort(([keyA], [keyB]) => {
			if (/^F[0-9]+$/.test(keyA) && /^F[0-9]+$/.test(keyB))
				return Number(keyA.substring(1)) - Number(keyB.substring(1));

			// Matches to earlier regexes are sorted greater.
			const keyCategoryRegexes = [
				/^enter$/i,
				/^backspace$/i,
				/^(shift|alt|ctrl)$/i,
				/^[A-Z]$/,
				/^[0-9]$/,
				/^F[0-9]+$/,
			];
			const getCategoryIndex = key =>
				keyCategoryRegexes.length - keyCategoryRegexes.findIndex(r => r.test(key));
			return (getCategoryIndex(keyA) - getCategoryIndex(keyB)) ||
				keyA.localeCompare(keyB);
		}).forEach(([key, description], i) => {
			const callout = document.createElement("div");
			callout.classList.add("key-binding-callout",
				"callout", i % 2 ? "top-left-callout" : "top-right-callout");

			const keySpan = document.createElement("span");
			keySpan.classList.add("key");
			keySpan.textContent = key;
			callout.appendChild(keySpan);

			const descriptionSpan = document.createElement("span");
			descriptionSpan.classList.add("description");
			descriptionSpan.textContent = description;
			callout.appendChild(descriptionSpan);

			macroBoardModeBindingsContainer.appendChild(callout);
			callouts.push(callout);
		});

		requestAnimationFrame(() => callouts.forEach(c => c.classList.add("shown")));
	};

	// text to speech

	let ttsPreviewQueue = [];

	const showTTSPreview = ({ message, user }) => {
		ttsPreviewCalloutUser.textContent = user;
		ttsPreviewCalloutMessage.textContent = message;
		ttsPreviewCallout.classList.add("shown");
	};

	const updateTTSPreviewCounter = () => {
		if (ttsPreviewQueue.length > 1) {
			ttsPreviewCounter.innerHTML = "+" + (ttsPreviewQueue.length - 1);
			ttsPreviewCounter.classList.add("shown");
		} else
			ttsPreviewCounter.classList.remove("shown");
	};

	const previewTTS = tts => {
		if (ttsPreviewQueue.length == 0)
			showTTSPreview(tts);
		ttsPreviewQueue.push(tts);
		updateTTSPreviewCounter();
	};

	const dequeueTTS = () => {
		ttsPreviewQueue.shift();
		if (ttsPreviewQueue.length === 0)
			ttsPreviewCallout.classList.remove("shown");
		else
			showTTSPreview(ttsPreviewQueue[0]);
		updateTTSPreviewCounter();
	};

	// action reception

	variadassistSocket.onmessage = execSocketAction("control panel", {
		...timerActions,
		...randomizerActions,
		...memeActions(),
		...memePreviewActions,
		...musicActions(-1),
		...textToSpeechActions,
		...chatActions,
		...goalActions,
		...relayToPubSubAction,
		...relayToIRCAction,
		"server message": ({ level, message }) => showServerMessage(message, level),
		"macro board mode": showMacroBoardMode,
		"preview text to speech": previewTTS,
		"dequeue text to speech": dequeueTTS,
	});
};
	</script>
	<style>
#all-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: -2px;
}

#meme-queue-counter:not(.shown) {
	visibility: hidden;
}

.music-container {
	font-size: 1rem;
	height: auto;
	margin: 0;
}

#next-meme-callout.shown {
	border-color: gray;
	border-width: thick;
	display: flex;
    flex-direction: column;
}

#top-container {
	margin: 0.5rem;

	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#top-right-container {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 50vh;
}

#timer-statuses-container {
	width: 100%;
}

#goal-statuses-container {
	width: 72%;
}

#server-messages-container {
	max-height: 40vh;
	width: 40vw;
	border: 1px solid black;
	border-radius: 0.5rem;
    padding: 0.5rem;
    align-items: flex-end;
}

.server-message {
	width: 100%;
    box-sizing: border-box;
}
.server-normal-message {
	font-size: 1rem;
}
.server-warning-message {
	background-color: lightgray;
    color: yellow;
}
.server-error-message {
	background-color: red;
    color: yellow;
    border-color: yellow;
    border-width: 0.5rem;
}

#macro-board-mode-container {
    width: 45vw;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#macro-board-mode-name-container {
	width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: #174fbf;
    border-bottom: medium #174fbf solid;
    margin-bottom: 0.1rem;
    border-radius: 0.7rem;
    box-sizing: border-box;
}

#macro-board-mode-bindings-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: medium #174fbf solid;
    border-radius: 0.7rem;
    box-sizing: border-box;
    padding-top: 0.2rem;
}

.key-binding-callout {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #174fbf;
    background-color: #41c22b;
    transition-duration: 0.1s;
}

.key-binding-callout .key {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.key-binding-callout .description {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1rem;
}

#chat-container {
	border-color: gray;
    border-width: thin;
    border-style: dashed;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
}

#tts-callout {
	border-width: thick;
	border-color: gray;
	border-style: solid;
	display: flex;
    flex-direction: column;
}
#tts-callout .user {
	margin: 0.25rem;
}
#tts-callout.shown .message {
	font-size: 1.25rem;
	transition: font-size 0.5s linear;
}

#tts-preview-callout {
	display: flex;
    flex-direction: column;
}
#tts-preview-callout .user {
	margin: 0.25rem;
}
#tts-preview-callout.shown .message {
	font-size: 1.25rem;
	transition: font-size 0.5s linear;
}
#tts-preview-counter:not(.shown) {
	visibility: hidden;
}
	</style>
</head>

<body>
<div id="all-container">
	<div id="randomizer-container">
		<div id="randomizer-winner-container">
			<div id="randomizer-winner-callout" class="callout">
				Winner!
			</div>
			<div class="callout-pointer">
				<div class="callout-pointer-pseudoborder"></div>
				<div class="callout-pointer-fill"></div>
			</div>
		</div>
	</div>
	<div id="top-container">
		<div id="top-left-container">
			<div id="messages-container">
				<div id="chat-container" class="scroll-box"></div>
				<div id="tts-callout" class="callout top-left-callout">
					<span class="user"></span>
					<span class="message"></span>
				</div>
			</div>
			<div id="tts-container">
				<div id="tts-preview-callout" class="callout top-left-callout">
					<span class="user"></span>
					<span class="message"></span>
				</div>
				<div id="tts-preview-counter">
				</div>
			</div>
			<div class="music-container">
				<div id="music-category-callout" class="callout bottom-left-callout">
					<span class="message"></span>
				</div>
				<div id="song-callout" class="callout bottom-left-callout">
					<span class="message"></span>
				</div>
				<div id="stop-music-callout" class="callout bottom-left-callout">
					<span class="message">The music has been stopped.</span>
				</div>
			</div>
		</div>
		<div id="macro-board-mode-container">
			<div id="macro-board-mode-name-container"></div>
			<div id="macro-board-mode-bindings-container"></div>
		</div>
		<div id="top-right-container">
			<div id="timer-statuses-container" class="statuses-container"></div>
			<div id="goal-statuses-container" class="statuses-container"></div>
			<div id="server-messages-container" class="scroll-box"></div>
		</div>
	</div>
	<div class="bottom-container">
		<div>
			<span id="meme-queue-counter"></span>
			<div id="next-meme-callout" class="callout bottom-left-callout image-callout hyper-speed">
				<div class="meme-user"></div>
				<img src="">
			</div>
		</div>
		<div id="shown-meme-callout" class="callout bottom-right-callout image-callout">
			<div class="meme-user"></div>
			<img src="">
		</div>
	</div>
</div>
</body>
