/* The control panel and stream overlay need to maintain consistent dimensions for the meme view so that I can ensure that the meme will look good on stream.

Because the overlay and control panel are likely to be different dimensions, so the proper method of sizing based on caluclations of the dimensions will not work. Instead, calculations are commented beside the values and resolved based on the dimensions that will be used for the stream overlay in practice, 1920px x 1080px. */

.image-callout.shown {
	max-width: 672px; /* 35vw */
	max-height: 540px; /* 50vh */
}

.image-callout.shown img, .image-callout.shown video {
	max-width: 632px; /* calc(35vw - 40px) */
	max-height: 460px;
	min-height: 300px;
    min-width: 300px;
}
