#messages-container {
    width: 750px;
}

#chat-container {
    height: 250px;
    align-items: flex-start;
}

#tts-callout {
	border-width: 0.25rem;
	display: flex;
    flex-direction: column;
}
#tts-callout.highlighted {
	border-color: #1790f9;
	border-style: solid;
}
#tts-callout:not(.highlighted) {
	border-color: black;
	border-style: double;
}

#tts-callout .user {
	margin: 0.25rem;
}

#tts-callout.shown .message {
	font-size: 1.25rem;
	transition: font-size 0.5s linear;
}
