.music-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	width: 300px;
	height: 250px;
	margin-top: auto;
	margin-bottom: 10vh;
	box-sizing: border-box;
	font-size: 1.25rem;
}

#stop-music-callout {
	background-color: #a6a6a6;
}
