<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu%20Mono"></link>
	<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/animations.css"></link>
	<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/callouts.css"></link>
	<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/common.css"></link>
	<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/statuses.css"></link>
<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/goals.css"></link>
	<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/image callout overlay dimensions.css"></link>
	<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/messages.css"></link>
<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/music.css"></link>
	<link rel="stylesheet" href="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/randomizers.css"></link>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/animations.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/common.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/haltableSequences.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/sockets.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/common/statuses.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/error.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/goals.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/meme.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/textToSpeech.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/music.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/randomizers.js"></script>
	<script src="file:///home/variadicism/workspace/src/Variadassist/Web Player/src/web/timer.js"></script>
	<script>
const VIEW_SOCKET_PORT = 7041;

const MUSIC_INFO_DISPLAY_TIME_SEC = 10;

window.onload = () => {
	const displayImageCallout = document.getElementById("display-image-callout");

	const overlayImage = document.getElementById("overlay-image");
	const overlayImageContainer = document.getElementById("overlay-image-container");

	const viewSocket = new WebSocket(`ws://127.0.0.1:${VIEW_SOCKET_PORT}`);
	const viewSocketQueue = [];

	sendToServer = m => viewSocket.send(m);  // Use closure to avoid `this` invocation errors. :|

	const overlayImageQueuedSequence = queuedHaltableSequence(({ name, url }) => [
			{
				run: () => new Promise((resolve, reject) => {
					overlayImage.onload = () => resolve(true);
					overlayImage.src = url;
				}),
			},
			{
				run: () => {
					overlayImage.classList.add(nameToClass(name));
					overlayImageContainer.classList.add(nameToClass(name));
					overlayImageContainer.classList.add("shown");
					return transitionCSS(overlayImage, ["shown"]).then(() => {
						const containerAnimationName = window.getComputedStyle(overlayImageContainer).animationName;
						if (containerAnimationName && containerAnimationName !== "none")
							return awaitAnimation(overlayImage, overlayImageContainer);
						else
							return awaitAnimation(overlayImage);
					});
				}
			},
			{
				run: () => {
					overlayImageContainer.classList.remove("shown");
					overlayImageContainer.classList.remove(nameToClass(name));
					overlayImage.classList.remove(nameToClass(name));
					return transitionCSS(overlayImage, []);
				},
				onHaltContinue: true,
			},
	], err);

	viewSocket.onmessage = execSocketAction("overlay", {
		...timerActions,
		...randomizerActions,
		...memeActions(),
		...musicActions(MUSIC_INFO_DISPLAY_TIME_SEC),
		...textToSpeechActions,
		...goalActions,
		"overlayAlert": message => overlayImageQueuedSequence.enqueue(message),
	});
};
	</script>

	<style>
@keyframes jjbasYellowBackgroundThenFadeOut {
	0% {
		background-color: rgba(250, 205, 20, 0.5);
	}
	75% {
		background-color: rgba(250, 205, 20, 0.5);
	}
	100% {
		background-color: rgba(250, 205, 20, 0);
	}
}

@keyframes vladsZoomZoomIntense {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.75) translateX(-1px) rotate(1deg);
	}
	15% {
		transform: scale(0.75) translateX(1px) rotate(-1deg);
	}
	20% {
		transform: scale(1.5) translateX(-3px) rotate(3deg);
	}
	25% {
		transform: scale(1.5) translateX(3px) rotate(-1deg);
	}
	30% {
		transform: scale(1.5) translateX(-2px) rotate(3deg);
	}
	35% {
		transform: scale(1.5) translateX(2px) rotate(-1deg);
	}
	40% {
		transform: scale(1.5) translateX(-3px) rotate(3deg);
	}
	45% {
		transform: scale(1.5) translateX(3px) rotate(-2deg);
	}
	60% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.5) translateY(15vh) translateX(10vw) rotate(450deg);
	}
	100% {
		transform: scale(1.5) translateY(25vh) translateX(75vw) rotate(1800deg);
	}
}

.image-callout.shown {
	margin-top: auto;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin: -2px;
}

#top-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}

#all-statuses-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}

#timer-statuses-container {
	width: 550px;
}

#goal-statuses-container {
	width: 400px;
}

.music-container div.callout:first-of-type {
	margin-top: auto;
}

#overlay-image-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}
#overlay-image-container:not(.shown) {
	visibility: hidden;
}
#overlay-image-container.shown {
	visibility: visible;
}

#overlay-image-container.jjba-to-be-continued {
	justify-content: flex-start;
	animation-name: jjbasYellowBackgroundThenFadeOut;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 4.5s;
	animation-duration: 7s;
}

#overlay-image {
	width: auto;
	height: 100%;
}
#overlay-image:not(.shown) {
	visibility: hidden;
}
#overlay-image.shown {
	visibility: visible;
}

#overlay-image.illuminati, #overlay-image.villager-sigh {
	opacity: 0;
	animation-name: centeredFadeSpiral;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
#overlay-image.technoblade-bruh, #overlay-image.one-more-thing {
	opacity: 0;
	animation-name: panFadeDown;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#overlay-image.illuminati {
	animation-delay: 4.5s;
	animation-duration: 3.5s;
}
#overlay-image.technoblade-bruh {
	animation-delay: 0s;
	animation-duration: 1.5s;
}
#overlay-image.one-more-thing {
	animation-delay: 0s;
	animation-duration: 1.5s;
}
#overlay-image.villager-sigh {
	animation-delay: 0s;
	animation-duration: 1s;
}
#overlay-image.jjba-to-be-continued {
	align-self: flex-end;
	opacity: 0;
	animation-name: flyInLeft;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 4s;
	animation-duration: 0.5s;
}
#overlay-image.vlad-now-gooooo {
	opacity: 0.5;
	animation-name: vladsZoomZoomIntense;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 0s;
	animation-duration: 3.5s;
}
#overlay-image.excellent {
	align-self: flex-end;
	margin-left: -50vw;
	opacity: 0.5;
	animation-name: panRightAcross;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 0s;
	animation-duration: 1.1s;
}
	</style>
</head>
<body>
	<div id="top-container">
		<div id="messages-container">
			<div id="chat-container"></div>
			<div id="tts-callout" class="callout top-left-callout">
				<span class="user"></span>
				<span class="message"></span>
			</div>
		</div>
		<div id="all-statuses-container">
			<div id="timer-statuses-container"></div>
			<div id="goal-statuses-container"></div>
		</div>
	</div>
	<div id="overlay-image-container">
		<img id="overlay-image" src="">
	</div>
	<div id="randomizer-container">
		<div id="randomizer-winner-container">
			<div id="randomizer-winner-callout" class="callout">
				Winner!
			</div>
			<div class="callout-pointer">
				<div class="callout-pointer-pseudoborder"></div>
				<div class="callout-pointer-fill"></div>
			</div>
		</div>
	</div>
	<div class="bottom-container">
		<div class="music-container">
			<div id="music-category-callout" class="callout bottom-left-callout">
				<span class="message"></span>
			</div>
			<div id="song-callout" class="callout bottom-left-callout">
				<span class="message"></span>
			</div>
			<div id="stop-music-callout" class="callout bottom-left-callout">
				<span class="message">The music has been stopped.</span>
			</div>
		</div>
		<div id="shown-meme-callout" class="callout bottom-right-callout image-callout">
			<div class="meme-user"></div>
			<img src="">
		</div>
	</div>
</body>
