#randomizer-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	margin: auto;
	width: 90vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
#randomizer-container:not(.shown) {
	visibility: hidden;
}
#randomizer-container.shown {
	visibility: visible;
}
#randomizer-container.leaving {
	animation-name: fadeOut;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-delay: 0s;
	animation-duration: 5s;
}

.randomizer-option-container {
	width: 100%;
	animation-name: growVertically;
	animation-timing-function: ease-in-out;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.randomizer-option-container.shown {
	height: calc(var(--weight)*1%);
}
.randomizer-option-container:not(.lightweight).shown {
	margin-left: 25%;
}
.randomizer-option-container.lightweight.shown {
	box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}
.randomizer-option-container.lightweight.lowered.shown {
    align-items: flex-start;
}

.randomizer-option {
    overflow: hidden;
}
.randomizer-option-container:not(.lightweight).shown .randomizer-option {
	position: relative;
	border-width: 0.25rem;
	border-style: inset;
	box-sizing: border-box;
    width: calc(50%*var(--weight)/13);
    max-width: 50%;
	height: 100%;

	font-size: calc(var(--weight)/100*16rem);
	background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0.625rem;
}
.randomizer-option-container.lightweight.shown .randomizer-option {
	width: 25%;
    box-sizing: border-box;
    position: fixed;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
}
.randomizer-option-container.weightless.shown .randomizer-option {
	background-color: gray;
}

.randomizer-option-container:not(.lightweight).shown .randomizer-option .randomizer-tag {
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-end;
}
.randomizer-option-container.lightweight.shown .randomizer-option .randomizer-tag {
	padding-right: 10%;
}
.randomizer-option-container:not(.lightweight).shown .randomizer-option .randomizer-tag:before {
    font-size: calc(var(--weight)/100*8rem));
}
.randomizer-option-container:not(.weightless).shown .randomizer-option .randomizer-weight:before {
	content: "~";
}
.randomizer-option-container.shown .randomizer-option .randomizer-weight:after {
	content: "%";
}

.randomizer-option-image {
	position: absolute;
    top: 0;
    left: 0;
}
.randomizer-option-container:not(.lightweight).shown .randomizer-option-image {
	width: 100%;
    z-index: -1;
}
.randomizer-option-container.lightweight.shown .randomizer-option-image {
	width: 50%;
}
.randomizer-option-container.weightless.shown .randomizer-option-image {
	filter: grayscale(100%);
}

.randomizer-divider {
	margin-top: -0.625rem;
	box-sizing: border-box;
	height: 0.625rem;
	border-bottom: 2px solid black;
	border-bottom-right-radius: 0.625rem;
}
.randomizer-divider:not(.shown) {
	visibility: hidden;
}
.randomizer-divider.shown {
	animation-name: growHorizontally;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

#randomizer-winner-container {
    position: absolute;
    top: calc(1%*var(--spectrumValue));
    left: 0;
    width: 25%;
    height: 0;
    box-sizing: border-box;
    font-size: 4rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#randomizer-winner-container:not(.shown) {
	opacity: 0;
}
#randomizer-winner-container.shown {
    animation-name: fadeFlyInRight;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
#randomizer-winner-container.shown.leaving {
    animation-name: fadeFlyOutLeft;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

#randomizer-winner-callout {
    width: calc(100% - 1rem);
    border-width: 1px;
    box-sizing: border-box;
    background-color: white;
    transition-duration: 0s;
}
